.menu__elem,
.menu__elem_dark {
  margin-right: 32px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  border-bottom: 3px solid transparent;
}

.menu__elem_dark {
  color: black;
}

.menu__elem:last-of-type {
  margin: 0;
}

.menu__elem_link {
  color: white;
}

.is-active {
  border-bottom: 3px solid #fff;
}

.is-active_dark {
  border-color: #1A1B22;
}

.dark {
  color: #1A1B22;
}

.dark button {
  border-color: #1A1B22;
  color: #1A1B22;
}

@media only screen and (max-width: 1024px) {
  .menu__elem,
  .menu__elem_dark {
    font-size: 16px;
    margin-right: 16px;
  }
}


@media only screen and (max-width: 768px) {
  .menu__elem,
  .menu__elem_dark {
    display: none;
  }
}