.burger-menu {
  background: 0;
  border: none;
  outline: none;
  display: none;
  position: relative;
  z-index: inherit;
  width: 24px;
  height: 24px;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  .burger-menu {
    display: block;
  }
}