.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 0;
}

@media only screen and (max-width: 495px) {
  .footer__content {
    flex-direction: column-reverse;
    padding: 0;
  }
}