.results__news__card__content_text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin: 0 0 18px 0;
  display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .results__news__card__content_text {
    height: 88px;
    -webkit-line-clamp: 4;
  }
}