.title-section__key-words {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.title-section__key-words_word {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 1024px) {
  .title-section__key-words,
  .title-section__key-words_word {
    font-size: 14px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .title-section__key-words_word,
  .title-section__key-words {
    font-size: 18px;
  }
}