.button {
  border-radius: 100px;
  border: 1px solid rgb(255 255 255);
  outline: none;
  background: rgb(0 0 0 / 0%);
  color: rgb(255 255 255);

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;

}

@media only screen and (max-width: 1024px) {
  .button {
    height: 40px;
    padding: 8px 12px;
  }
}