.results__news__card__content_source {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-align: left;

  color: #B6BCBF;
  margin: 0;
}