<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Explorer</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= require('./assets/images/apple-touch-icon.png') %>"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= require('./assets/images/favicon-32x32.png') %>"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= require('./assets/images/favicon-16x16.png') %>"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="<%=  htmlWebpackPlugin.files.css  %>"
    />
    <!-- <link rel="stylesheet" href="pages/saved-news.css" /> -->
  </head>
  <body>
    <header class="header header_dark root">
      <nav class="nav">
        <img
          class="logo_black"
          src="<%= require('./assets/images/logo_black.svg') %>"
          alt="Логотип"
        />
        <ul class="menu">
          <li class="menu__elem dark">Главная</li>
          <li class="menu__elem dark is-active_dark">Сохраненные статьи</li>
          <li class="menu__elem dark">
            <button class="button button__auth">
              Жак Ив Кусто
              <img
                class="ico-logout"
                src="<%= require('./assets/icons/logout_dark.svg')%>"
                alt="Икнока выхода"
              />
            </button>
            <button class="button button__auth _hidden">
              <span>Авторизоваться</span>
            </button>
          </li>
          <li class="menu__elem_mobile">
            <button class="burger-menu">
              <img
                src="<%= require('./assets/icons/burger_dark.svg')%>"
                alt="Кнопка открытия меню"
              />
            </button>
          </li>
        </ul>
      </nav>
      <nav class="nav__mobile-wrapper">
        <div class="nav__mobile-wrapper_head">
          <img
            class="logo_black"
            src="<%= require('./assets/images/logo.svg')%>"
            alt="Логотип"
          />
          <button class="close" type="button">
            <img
              src="<%= require('./assets/icons/close.svg')%>"
              alt="Кнопка закрытия меню"
            />
          </button>
        </div>
        <ul class="nav__mobile-wrapper__menu">
          <li class="nav__mobile-wrapper_menu_elem">Главная</li>
          <li class="nav__mobile-wrapper_menu_elem">Сохраненные статьи</li>
          <li class="nav__mobile-wrapper_menu_elem">
            <button class="button button__auth _hidden">
              Авторизоваться
              <i></i>
            </button>
            <button class="button">
              Жак Ив Кусто
              <i></i>
            </button>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <div class="prelouder">
        <i class="circle-preloader"></i>
      </div>

      <section class="title-section root">
        <p class="title-section__title">Сохраненные статьи</p>
        <h1 class="title-section__results">
          Грета, у вас 5 сохранённых статей
        </h1>
        <p class="title-section__key-words">
          По ключевым словам:
          <span class="title-section__key-words_word">Природа, Тайга</span> и
          <span class="title-section__key-words_word">2-м другим</span>
        </p>
      </section>

      <section class="results root">
        <div class="results__news">
          <div class="results__news__card">
            <img
              src="<%= require('./assets/images/image_08.png')%>"
              alt=""
              class="results__news__card_img"
            />
            <div class="results__news__card__content">
              <p class="results__news__card__content_date">2 августа 2019</p>
              <h3 class="results__news__card__content_title">
                Национальное достояние – парки
              </h3>
              <p class="results__news__card__content_text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь
                начала складываться система национальных парков – охраняемых
                территорий, где и сегодня каждый может приобщиться к природе.
              </p>
              <p class="results__news__card__content_source">Лента.ру</p>
            </div>
          </div>
          <div class="results__news__card">
            <img
              src="<%= require('./assets/images/image_08.png'%>"
              alt=""
              class="results__news__card_img"
            />
            <div class="results__news__card__content">
              <p class="results__news__card__content_date">2 августа 2019</p>
              <h3 class="results__news__card__content_title">
                Национальное достояние – парки
              </h3>
              <p class="results__news__card__content_text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь
                начала складываться система национальных парков – охраняемых
                территорий, где и сегодня каждый может приобщиться к природе.
              </p>
              <p class="results__news__card__content_source">Лента.ру</p>
            </div>
          </div>
          <div class="results__news__card">
            <img
              src="<%= require('./assets/images/image_08.png')%>"
              alt=""
              class="results__news__card_img"
            />
            <div class="results__news__card__content">
              <p class="results__news__card__content_date">2 августа 2019</p>
              <h3 class="results__news__card__content_title">
                Национальное достояние – парки
              </h3>
              <p class="results__news__card__content_text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь
                начала складываться система национальных парков – охраняемых
                территорий, где и сегодня каждый может приобщиться к природе.
              </p>
              <p class="results__news__card__content_source">Лента.ру</p>
            </div>
          </div>
          <div class="results__news__card">
            <img
              src="<%= require('./assets/images/image_08.png')%>"
              alt=""
              class="results__news__card_img"
            />
            <div class="results__news__card__content">
              <p class="results__news__card__content_date">2 августа 2019</p>
              <h3 class="results__news__card__content_title">
                Национальное достояние – парки
              </h3>
              <p class="results__news__card__content_text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь
                начала складываться система национальных парков – охраняемых
                территорий, где и сегодня каждый может приобщиться к природе.
              </p>
              <p class="results__news__card__content_source">Лента.ру</p>
            </div>
          </div>
          <div class="results__news__card">
            <img
              src="<%= require('./assets/images/image_08.png')%>"
              alt=""
              class="results__news__card_img"
            />
            <div class="results__news__card__content">
              <p class="results__news__card__content_date">2 августа 2019</p>
              <h3 class="results__news__card__content_title">
                Национальное достояние – парки
              </h3>
              <p class="results__news__card__content_text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь
                начала складываться система национальных парков – охраняемых
                территорий, где и сегодня каждый может приобщиться к природе.
              </p>
              <p class="results__news__card__content_source">Лента.ру</p>
            </div>
          </div>
          <div class="results__news__card">
            <img
              src="<%= require('./assets/images/image_08.png')%>"
              alt=""
              class="results__news__card_img"
            />
            <div class="results__news__card__content">
              <p class="results__news__card__content_date">2 августа 2019</p>
              <h3 class="results__news__card__content_title">
                Национальное достояние – парки
              </h3>
              <p class="results__news__card__content_text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь
                начала складываться система национальных парков – охраняемых
                территорий, где и сегодня каждый может приобщиться к природе.
              </p>
              <p class="results__news__card__content_source">Лента.ру</p>
            </div>
          </div>
          <div class="results__news__card">
            <img
              src="<%= require('./assets/images/image_08.png')%>"
              alt=""
              class="results__news__card_img"
            />
            <div class="results__news__card__content">
              <p class="results__news__card__content_date">2 августа 2019</p>
              <h3 class="results__news__card__content_title">
                Национальное достояние – парки
              </h3>
              <p class="results__news__card__content_text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь
                начала складываться система национальных парков – охраняемых
                территорий, где и сегодня каждый может приобщиться к природе.
              </p>
              <p class="results__news__card__content_source">Лента.ру</p>
            </div>
          </div>
          <div class="results__news__card">
            <img
              src="<%= require('./assets/images/image_08.png')%>"
              alt=""
              class="results__news__card_img"
            />
            <div class="results__news__card__content">
              <p class="results__news__card__content_date">2 августа 2019</p>
              <h3 class="results__news__card__content_title">
                Национальное достояние – парки
              </h3>
              <p class="results__news__card__content_text">
                В 2016 году Америка отмечала важный юбилей: сто лет назад здесь
                начала складываться система национальных парков – охраняемых
                территорий, где и сегодня каждый может приобщиться к природе.
              </p>
              <p class="results__news__card__content_source">Лента.ру</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer root">
      <div class="footer__content">
        <p class="footer__content_copy">
          <!-- &copy; 2020 Supersite, Powered by News API -->
        </p>
        <nav class="footer__content__nav">
          <ul class="footer__content__nav__list">
            <li class="footer__content__nav__list_elem">
              <a class="footer__content__nav__list_link" href="#"> Главная </a>
            </li>
            <li class="footer__content__nav__list_elem">
              <a
                class="footer__content__nav__list_link"
                href="https://praktikum.yandex.ru/"
              >
                Яндекс.Практикум
              </a>
            </li>
          </ul>
          <ul
            class="footer__content__nav__list footer__content__nav__list_social"
          >
            <li class="footer__content__nav__list_elem">
              <a class="footer__content__nav_link" href="#">
                <img
                  src="<%= require('./assets/icons/github.svg')%>"
                  alt="Github"
                />
              </a>
            </li>
            <li class="footer__content__nav__list_elem">
              <a class="footer__content__nav_link" href="#">
                <img
                  src="<%= require('./assets/icons/fb.svg')%>"
                  alt="Facebook"
                />
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
    <script src="<%=  htmlWebpackPlugin.files.js  %>"></script>
  </body>
</html>
