/* ======== NAVIGATION ======== */

.header {
  height: auto;
  /* background: url(../../utils/images/georgia-de-lotz--UsJoNxLaNo-unsplash.png); */
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  position: absolute;
}

@media only screen and (max-width: 1024px) {
  .header {
    height: 66px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 66px;
  }
}

@media only screen and (max-width: 495px) {
  .header {
    height: 56px;
  }
}